# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Cache
.pytest_cache/
.cache/

# Build
build/
dist/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env