body{

margin:0;
font-family:Arial;
background:#f1f8e9;

}


nav{

background:#2e7d32;
padding:20px;
color:white;

}


nav a{

color:white;
margin:20px;
text-decoration:none;

}


.hero,
.result,
.page{

width:70%;
margin:50px auto;
background:white;
padding:40px;
text-align:center;
border-radius:15px;

}


input{

display:block;
margin:15px auto;
padding:12px;
width:70%;

}


button{

background:#2e7d32;
color:white;
border:none;
padding:15px 30px;
border-radius:10px;

}


footer{

text-align:center;
padding:20px;

}